<div class="row">

    <div class="col-4">
        <div class="pt-3">
            <p>{{number}}</p>
            <h5>{{status}}</h5>

        </div>
    </div>

    <div class="col-2">
        <div class="pt-3">
            <p>{{amount.title}}:</p>
            <h5>{{amount.value}}</h5>
        </div>
    </div>

    {{#each images}}
    <div class="col-1">
        <img src="{{this}}" alt="alt" width="150px" class="img-fluid rounded-start m-2">
    </div>
    {{/each}}


    <div class="col-2">
        <div class="ps-5 pt-3">
            {{#with button}}
            <a href="{{link}}" class="btn {{#if isPrimary}}btn-primary{{/if}} mt-2">{{text}}</a>
            {{/with}}
        </div>
    </div>

    <div>
        <hr class="mt-2 mb-2">
    </div>
</div>